<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Open share facts</title>
  <script type="text/javascript" src="assets/js/add-product.js"></script>
  <link href="assets/css/add-product.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Formulaire Open Share facts</h1>
  <h2>Avant toute chose, un très grand merci de partager ses informations avec nous</h2>
  <p>L’impact de votre partage ? Vous contribuez à un monde meilleur. 👍🏼 </p>
  <p class="info">Champs obligatoires * </p>
  <form action="/api/v1/products" method="POST" id="add-product-form" class="add-product__form">
    <div class="add-product__form-line">
      <label class="add-product__form-label" for="name">
        Typologie du produit *
      </label>
      <input placeholder="Vélo, ballon de foot, raquette..." class="add-product__form-input add-product__form-input-js" id="name">
    </div>

    <div class="add-product__form-line">
      <label class="add-product__form-label" for="carbon-footprint">
        Empreinte carbone du produit ( Cycle de vie complet) en g Co2 eq *
      </label>
      <input placeholder="200" class="add-product__form-input add-product__form-input-js" id="carbon-footprint">
    </div>

    <div class="add-product__form-alternatives">
      <div class="add-product__form-alternative">
        <div class="add-product__form-line">
          <label class="add-product__form-label" for="total-usage-duration">
            Durée d’utilisation totale en heure *
          </label>
          <input placeholder="60" class="add-product__form-input add-product__form-input-js input_small" id="total-usage-duration">
        </div>
      </div>

      <div class="add-product__form-alternative-or">
        OU
      </div>

      <div class="add-product__form-alternative">
        <div class="add-product__form-line">
          <label class="add-product__form-label" for="yearly-usage-duration">
            Durée d’utilisation par an en heure *
          </label>
          <input placeholder="1" class="add-product__form-input add-product__form-input-js input_small" id="yearly-usage-duration">
        </div>

        <div class="add-product__form-line">
          <label class="add-product__form-label" for="lifespan">
            Durée de vie du produit en année *
          </label>
          <input placeholder="20" class="add-product__form-input add-product__form-input-js input_small" id="lifespan">
        </div>
      </div>
    </div>

    <div class="add-product__form-line">
      <label class="add-product__form-label" for="source">
        Source de la donnée *
      </label>
      <input placeholder="sport_gouv.fr" class="add-product__form-input add-product__form-input-js add-product__source-js">
      <button class="add_source" id="add-product__add-source">Ajouter une source</button>
    </div>

    <div id="add-product__missing-field-error" class="add-product__missing-field-error hide">
      Ajout impossible : des champs manquent ou ont une valeur invalide
    </div>

    <div id="add-product__missing-server-error" class="add-product__missing-field-error hide">
      Le serveur a retourné une erreur
    </div>

    <button class="add-product__form-button">Valider les informations</button>
  </form>
</body>
</html>
