body{
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
}

h1{
    font-size: 24px;
    font-weight:700 ;
    color: #4B7C53;
    width: 308px;
    margin:0 auto;
    margin-top: 32px;
    margin-bottom: 44px;
}

h2{
    font-size: 20px;
    font-weight: 500;
    color: #1B1C1D;
    width: 684px;
    margin: 0 auto;

}

p{
    font-size: 16px;
    font-weight: 500;
    margin:0 auto;
    width: 684px;
    margin-top: 10px;
}

.info{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

form{
    width: 684px;
    margin:0 auto;
    margin-top: 44px;
}

label{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 24px;
}

input{
    border: solid 2px #E0E0E0;
    border-radius: 6px;
    background-color: #FFF;
    width: 668px;
    height: 44px;
    padding-left: 16px;
}

.add_source {
    border: 2px solid #4B7C53;
    box-sizing: border-box;
    border-radius: 6px;
    width: 195px;
    height: 44px;
    margin-top: 24px;
    color:#4B7C53;
    background-color: #FFF;
    font-size:16px ;
    font-weight: 500;
}

.add_source:hover{
    background-color: #F7F7F7;
}

.add-product__form-alternative-or{
    padding-top:20px;
}

.input_small{
    width: 262px;
}
.add-product__form-line {
    margin-top: 10px;
}

.add-product__form-alternative-or {
    margin: 50px;
}

.add-product__form-label {
    display: block;
}

.add-product__form-alternatives {
    display: flex;
}

.add-product__missing-field-error {
    color: red;
}

.add-product__form-input {
    display: block;
}

.add-product__form-button {
    cursor: pointer;
    background-color: #4B7C53;
    height: 44px;
    border-radius: 6px;
    color:#FFF;
    border: 0;
    width: 201px;
    font-size: 16px ;
    font-weight: 500;
    display: block;
    margin: 44px auto;
}

.add-product__form-button:hover {
    background-color:#375C3E;
}

.hide {
    display: none;
}